annotated-types==0.7.0 ; python_version >= "3.12" and python_version < "4.0"
blinker==1.8.2 ; python_version >= "3.12" and python_version < "4"
certifi==2024.7.4 ; python_version >= "3.12" and python_version < "4.0"
charset-normalizer==3.3.2 ; python_version >= "3.12" and python_version < "4.0"
click==8.1.7 ; python_version >= "3.12" and python_version < "4"
cloudevents==1.11.0 ; python_version >= "3.12" and python_version < "4"
colorama==0.4.6 ; python_version >= "3.12" and python_version < "4" and platform_system == "Windows"
deprecation==2.1.0 ; python_version >= "3.12" and python_version < "4"
flask==3.0.3 ; python_version >= "3.12" and python_version < "4"
functions-framework==3.8.1 ; python_version >= "3.12" and python_version < "4"
gunicorn==23.0.0 ; python_version >= "3.12" and python_version < "4" and platform_system != "Windows"
idna==3.8 ; python_version >= "3.12" and python_version < "4.0"
itsdangerous==2.2.0 ; python_version >= "3.12" and python_version < "4"
jinja2==3.1.4 ; python_version >= "3.12" and python_version < "4"
markupsafe==3.0.2 ; python_version >= "3.12" and python_version < "4"
packaging==24.1 ; python_version >= "3.12" and python_version < "4"
pydantic-core==2.20.1 ; python_version >= "3.12" and python_version < "4.0"
pydantic-settings==2.4.0 ; python_version >= "3.12" and python_version < "4.0"
pydantic==2.8.2 ; python_version >= "3.12" and python_version < "4.0"
python-dotenv==0.21.1 ; python_version >= "3.12" and python_version < "4.0"
pyyaml==6.0.2 ; python_version >= "3.12" and python_version < "4.0"
requests==2.32.3 ; python_version >= "3.12" and python_version < "4.0"
simplejson==3.19.3 ; python_version >= "3.12" and python_version < "4.0"
types-requests==2.32.0.20240712 ; python_version >= "3.12" and python_version < "4.0"
typing-extensions==4.12.2 ; python_version >= "3.12" and python_version < "4.0"
urllib3==2.2.2 ; python_version >= "3.12" and python_version < "4.0"
watchdog==4.0.2 ; python_version >= "3.12" and python_version < "4"
werkzeug==3.0.4 ; python_version >= "3.12" and python_version < "4"
